{% extends 'front/base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block "content" %}
        <!-- Breadcrum Section-->
        <section class="breadcrumb-option spad set-bg" data-setbg="{% static 'front/img/breadcrumb-bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Register</h2>
                            <div class="breadcrumb__links">
                                <a href="{% url 'front_index' %}">Home</a>
                                <span>Register</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrum Section end -->

        <!-- Contact Section Begin -->
        <section class="contact spad">
            <div class="container">
                <div class="contact__content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__form">
                                <h3>Incrivez vous.</h3>
                                <form action="{% url 'authentication_register' %}" method="POST">
                                    {% csrf_token %}

                                    {% render_field form.medical_center_name placeholder="Nom du centre medical" %}
                                    {% if form.medical_center_name.errors  %}
                                        <div><p class="error-form">Ce champ est obligatoire.</p></div> 
                                    {% endif %}

                                    {% render_field form.email placeholder="Email" %}
                                    {% if form.email.errors  %}
                                        <div><p>{{form.email.errors}}</p></div> 
                                    {% endif %}
                                    
                                    {% render_field form.phone_number placeholder="Numéro de téléphone" %}
                                    {% if form.phone_number.errors  %}
                                        <div>{{form.phone_number.errors}}</div> 
                                    {% endif %}

                                    {% render_field form.address placeholder="Veuillez entrer l address du centre" %}
                                    {% if form.address.errors  %}
                                        <div><p class="error-form">Ce champ est obligatoire.</p></div> 
                                    {% endif %}

                                    {% render_field form.password1 placeholder="Mot de passe" %}
                                    <small id="passwordHelpInline" class="text-muted">
                                        Must be 8-20 characters long.
                                    </small>
                                    {% if form.password1.errors  %}
                                        {% for error in form.password1.errors %}{% endfor %}
                                        <div>{{form.password1.errors}}</div> 
                                    {% endif %}
                                    
                                    {% render_field form.password2 placeholder="Confirmer le mot de passe" %}
                                    {% if form.password2.errors  %}
                                    {% for error in form.password2.errors %}{% endfor %}
                                        <div>{{form.password2.errors}}</div> 
                                    {% endif %}
                                    
                                    <button type="submit" class="site-btn" style="margin-top: 20px;">S'incrire</button>
                                    <div style="margin-top: 25px;">
                                        Cliquez <a href={% url 'authentication_login' %}>ici</a> 
                                        pour vous connecter
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section End -->

{% endblock "content" %}