.list-group span {
    margin-left: 170px;
}

.list-group a svg {
    margin-right: 20px;
}

.list-group a:hover {
    background-color: rgb(224, 224, 224);
}

.contact__pic {
  margin-top: 40px;
}

.title_centre {
    text-decoration: none !important;
    color: black !important;
    font-weight: 500;
}

#title_centre {
    text-decoration: none !important;
    color: black !important;
    font-weight: 500;
}

#title_centre:hover {
    cursor: pointer !important;
    text-decoration: underline !important;
    color: #0d6efd !important;
    transition: all 0.3s;
}

.title_form {
    margin-bottom: 30px !important;
    font-family: unset !important;
    font-weight: 500 !important;
}

.div-input input {
    display: flex;
    width: 100%;
    height: 50px !important;
    border: 1px solid #e2e2e2 !important;
    border-radius: 5px !important;
    padding-left: 20px !important;
    font-size: 15px !important;
    color: #666666 !important;
    margin-bottom: 20px !important;
    -webkit-transition: all, 0.3s !important;
    -o-transition: all, 0.3s !important;
    transition: all, 1.3s !important;
}

.div-input-large input {
    width: 100%;
    height: 50px !important;
    border: 1px solid #e2e2e2 !important;
    border-radius: 5px !important;
    padding-left: 20px !important;
    font-size: 15px !important;
    color: #666666 !important;
    margin-bottom: 20px !important;
    -webkit-transition: all, 0.3s !important;
    -o-transition: all, 0.3s !important;
    transition: all, 1.3s !important;
}


.div-input {
    display: flex;
    justify-content: space-between;
}

.container-div {
    display: flex !important;
    flex-direction: column;
}
