.list-group span {
    margin-left: 170px;
}

.list-group a svg {
    margin-right: 20px;
}

.list-group a:hover {
    background-color: rgb(224, 224, 224);
}

.contact__pic {
  margin-top: 40px;
}

#title_centre:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #0d6efd;
}



