.list-group span {
    margin-left: 170px;
}

.list-group a svg {
    margin-right: 20px;
}

.list-group a:hover {
    background-color: rgb(224, 224, 224);
}

.contact__pic {
  margin-top: 40px;
}

.title_centre {
    text-decoration: none !important;
    color: black !important;
    font-weight: 500;
}

#title_centre {
    text-decoration: none !important;
    color: black !important;
    font-weight: 500;
}

#title_centre:hover {
    cursor: pointer !important;
    text-decoration: underline !important;
    color: #0d6efd !important;
    transition: all 0.3s;
}



