{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aesthetic Template">
    <meta name="keywords" content="Aesthetic, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aesthetic | Accueil</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'user/style_dashbord.css' %}" type="text/css">
    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'front/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'front/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'front/css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'front/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'front/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'front/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'front/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'front/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'front/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo">
            <a href="{% url 'front_index' %}"><img src="{% static 'front/img/logo.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget">
            <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
            <li><i class="fa fa-map-marker"></i> Los Angeles Gournadi, 1230 Bariasl</li>
            <li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 18:00pm</li>
        </ul>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'front_index' %}">
                            <img style="max-width: 100%; position: relative; top: -60px; height: 168px;" src="{% static 'front/img/Health_access.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__menu__option">
                        <nav class="header__menu">
                            <ul>
                                {% if user.is_authenticated %}
                                    <li>
                                    <a class="" data-bs-toggle="offcanvas" href="#offcanvasExample" role="a" aria-controls="offcanvasExample">
                                        Tableau de bord
                                    </a>
                                    </li>
                                    <li><a href="{% url 'user_health_center_detail' user.slug %}">Profile</a></li>
                                {% else %}
                                    <li><a href="{% url 'front_index' %}">Accueil</a></li>
                                    <li><a href="{% url 'user_health_centers' 'all' %}">Centres hospitaliers</a></li>
                                {% endif %}
                                <li><a href="{% url 'front_contact' %}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Menu left -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasLabel">Health access</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
        </div>
      </div>
      
        <div class="offcanvas offcanvas-start d-flex" style="justify-content: space-between;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header" style="flex-direction: column; padding: 0px !important; ">
            
            <div style="display: flex; width: 100%;">
                <a href="{% url 'front_index' %}" style="margin-left: 10px;">
                    <img style="max-width: 100%; position: relative; top: -60px; height: 168px;" src="{% static 'front/img/Health_access.png' %}" alt="">
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="position: relative; left: 45%; top: 11px;"></button>

            </div>
            <div>
                <ul class="list-group" style="position: relative; top: -90px;">
                    <a href="{% url 'user_list_services' %}" class="list-group-item justify-content-between align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                        Services
                    </a>
                    <a href="{% url 'user_appointment' %}" style="display: block;" class="list-group-item justify-content-between align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                    </svg>
                    Consultation
                    </a>
                    <a href="{% url 'authentication_edit_profile' %}" class="list-group-item justify-content-between align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg>
                        Paramètre profile 
                        <span class="badge bg-primary rounded-pill" style="visibility: hidden;">2</span>

                    </a>
                    <a href="{% url 'authentication_change_passwor' %}" class="list-group-item justify-content-between align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                        </svg>
                        Modifier le mot de passe
                    </a>
                </ul>
            </div>
            </div>
        
            <div style="margin-bottom: 20px; border-radius: 0px !important; ">
                <ul class="list-group" style="width: 100%;">
                    <a href="{% url 'authentication_logout' %}" class="list-group-item  justify-content-between align-items-center" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                    Deconnection

                    </a>

                </ul>
            </div>
    </div>

    <!-- Hero Section Begin -->
    <section class="hero spad set-bg" data-setbg="{% static 'front/img/urgengo-teleconsultation-pharmacie-h3.png__940x480_q70_crop_subsampling-2_upscale.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero__text">
                        <span>Le savoir et la santé à votre portée.</span>
                        <h2>
                            Inutile de vous déplacer pour en savoir davantage.
                        </h2>
                        <a href="#" class="primary-btn normal-btn">
                            Consultez les centres de santé
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Chooseus Section Begin -->
    <section class="chooseus spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>POURQUOI NOUS CHOISIR ?</span>
                        <h2>Quel intérêt pour vous ?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="chooseus__item">
                        <img src="{% static 'front/img/icons/ci-3.png' %}" alt="">
                        <h5>Simple a utiliser.</h5>
                        <p>
                            L'intérêt de cette plate-forme est qu'elle est simple et intuitive. 
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="chooseus__item">
                        <img src="{% static 'front/img/icons/ci-2.png' %}" alt="">
                        <h5>Tout dans un même lieu.</h5>
                        <p>
                            Health access à été conçu pour que vous trouviez toutes les informations
                            dont vous aviez besoin dans un centre santé (address, numéro de télephone,
                            service disponible ...).
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="chooseus__item">
                        <img src="{% static 'front/img/icons/ci-4.png' %}" alt="">
                        <h5>Economiser votre temps.</h5>
                        <p>
                            Plus besoins de vous déplacer dans un centre de santé pour avoir des informations
                            sur cet dernier grâce à Health access vous avez tout à votre disposition et cela est
                            un gain de temps considérable. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Chooseus Section End -->

    <!-- Services Section Begin -->
    <section class="services spad set-bg" data-setbg="{% static 'front/img/services-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <div class="section-title">
                        <span>centres de santé</span>
                        <h2>
                            Vous être un centre médical et vous vous demandé 
                            comment vous inscrire ?
                        </h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__btn">
                        <a href="{% url 'authentication_register' %}" class="primary-btn">Incrivez vous ?</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="services__item">
                        <div class="services__item__text">
                            <h5>Étape 1</h5>
                            <p>
                                Cliquer sur le bouton inscriver vous.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="services__item">
                        <div class="services__item__text">
                            <h5>Étape 2</h5>
                            <p>
                                Remplisez le formulaire dans l'intégralité.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="services__item">
                        <div class="services__item__text">
                            <h5>Étape 3</h5>
                            <p>
                                Vous recevrez un courrier électronique pour confirmer votre inscription.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="services__item">
                        <div class="services__item__text">
                            <h5>Étape 4</h5>
                            <p>
                                Une fois votre inscription confirmée, vous serez redirigés vers la page de connexion.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="footer__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Company</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Departments</a></li>
                            <li><a href="#">Find a Doctor</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Quick links</h5>
                        <ul>
                            <li><a href="#">Facial Fillers</a></li>
                            <li><a href="#">Breast Surgery</a></li>
                            <li><a href="#">Body Lifts</a></li>
                            <li><a href="#">Face & Neck</a></li>
                            <li><a href="#">Fat Reduction</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__address">
                        <h5>Contact Us</h5>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> Los Angeles Gournadi, 1230 Bariasl</li>
                            <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
                            <li><i class="fa fa-envelope"></i> Support@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-6">
                    <div class="footer__map">
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd"
                        height="190" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'front/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'front/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'front/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'front/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'front/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'front/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'front/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'front/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'front/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>

</html>