{% extends 'front/base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block "content" %}
        <!-- Breadcrum Section-->
        <section class="breadcrumb-option spad set-bg" data-setbg="{% static 'front/img/breadcrumb-bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Contact</h2>
                            <div class="breadcrumb__links">
                                <a href="{% url 'front_index' %}">Home</a>
                                <span>Register</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrum Section end -->

        <!-- Contact Section Begin -->
        <section class="contact spad">
            <div class="container">
                <div class="contact__content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__form">
                                <h3>Incrivez vous.</h3>
                                <form action="{% url 'user_register' %}" method="POST">
                                    {% csrf_token %}
                                    {% render_field form.medical_center_name placeholder="Nom du centre medical" %}
                                    {% render_field form.email placeholder="Email" %}
                                    {% render_field form.phone_number placeholder="Numéro de téléphone" %}
                                    {% render_field form.address placeholder="Veuillez entrer l address du centre" %}
                                    {% render_field form.password1 placeholder="Mot de passe" %}
                                    {% render_field form.password2 placeholder="Confirmer le mot de passe" %}
                                    <button type="submit" class="site-btn">S'incrire</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section End -->

{% endblock "content" %}