{% extends 'user/base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block "content" %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="{% static 'front/img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Modification du profile</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'front_index' %}">Accueil</a>
                        <span>Edit profile</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Section Begin -->
<section class="contact spad" style="padding-top: 50px !important;">
    <div class="container">
        <div class="contact__content">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__pic">
                        {% if user.photo.url %}
                            <img src="{{ user.photo.url }}" alt="">
                        {% else %}
                            <img src="{% static 'front/img/urgengo-teleconsultation-pharmacie-h3.png__940x480_q70_crop_subsampling-2_upscale.png' %}" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h3 class="title_form">Information du profile</h3>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger" role="alert">
                            {% else %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                            {% endif %}
                                {{ message }} 
                                </div>
                        {% endfor %}
                    {% endif %}
                    <form class="needs-validation" novalidate method="POST" action="{% url 'authentication_edit_profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="div-input">
                            <div class="container-div">
                                {% if form.medical_center_name.errors  %}
                                    <small id="passwordHelpInline" class="error-form">
                                        Ce champ est obligatoire
                                    </small>
                                {% endif %}
                                {% render_field form.medical_center_name placeholder="Nom du centre" %}
                            </div>
                            <div class="container-div">
                                {% if form.email.errors  %}
                                    <small id="passwordHelpInline" class="error-form">
                                        {{form.email.errors}}
                                    </small>
                                {% endif %}
                                {% render_field form.email placeholder="Address email" %}
                            </div>
                        </div>
                        <div class="div-input">
                            <div class="container-div">
                                {% if form.phone_number.errors  %}
                                    <small id="passwordHelpInline" class="error-form">
                                        {{form.phone_number.errors}}
                                    </small>
                                {% endif %}
                                {% render_field form.phone_number placeholder="Numéro de téléphone" %}
                            </div>
                            <div class="container-div">
                                {% if form.phone_number_two.errors  %}
                                <small id="passwordHelpInline" class="error-form">
                                    {{form.phone_number_two.errors}}
                                </small>
                                {% endif %}
                                {% render_field form.phone_number_two class="form-control" placeholder="Numéro de téléphone 2" %}
                            </div>
                        </div>
                        <div class="div-input">
                            <div class="container-div">
                                {% if form.fax.errors  %}
                                    <small id="passwordHelpInline" class="error-form">
                                        {{form.fax.errors}}
                                    </small>
                                {% endif %}
                                {% render_field form.fax placeholder="Fax" %}
                            </div>
                            <div class="container-div">
                                {% if form.address.errors  %}
                                <small id="passwordHelpInline" class="error-form">
                                    {{form.address.errors}}
                                </small>
                                {% endif %}
                                {% render_field form.address class="form-control" placeholder="Address" %}
                            </div>
                        </div>
                        <div class="div-input-large"> 
                            {% if form.photo.errors  %}
                                <small id="passwordHelpInline" class="error-form">
                                    {{form.photo.errors}}
                                </small>
                            {% endif %}
                            {% render_field form.photo %}
                        </div>
                        <div class="div-input-large"> 
                            {% if form.description.errors  %}
                                <small id="passwordHelpInline" class="error-form">
                                    {{form.description.errors}}
                                </small>
                            {% endif %}
                            {% render_field form.description placeholder="Description" class="form-control" %}
                        </div>
                        <button type="submit" style="margin-top: 20px;" class="site-btn col-md-12">Modifier les informations</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->



{% endblock "content" %}


















































