{% extends 'front/base/base.html' %}
{% load static %}
{% load widget_tweaks %}

    {% block "content" %}
        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-option spad set-bg" data-setbg="{{ center.photo.url }}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>{{ center.medical_center_name }}</h2>
                            <div class="breadcrumb__links">
                                <a href="{% url 'front_index' %}">Accueil</a>
                                <span>{{ center.medical_center_name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->
    
        <!-- Services Section Begin -->
        <section class="services-page spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 order-lg-2">
                        <div class="services__details">
                            <div class="row row-cols-1 row-cols-md-8">
                                <div class="card">
                                    <div class="card-body">
                                      <h5 class="title_centre" style="margin-bottom: 20px;">{{ center.medical_center_name }}</h5>
                                      <p class="card-text">{{ center.description }}</p>
                                    </div>
                                </div>
                               
                            </div>
                            <div>
                                <h4 class="title_centre" style="margin-top: 20px;">Services<h4>
                            </div>
                            <div class="row row-cols-3 row-cols-md-3 d-flex" style="justify-content: space-between;">
                                {% for service in services %}
                                    <div class="card" style="width: 17rem; padding: 0px !important; margin-top: 20px;">
                                        <div class="card-body">
                                            <div style="margin-bottom: 10px;">
                                                <h5 class="title_centre">{{ service.name }}</h5>
                                            </div>
                                            <p class="card-text">{{ service.description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-1">
                        <div class="services__appoinment">
                            <div class="services__title">
                                <h4><img src="{% static 'front/img/icons/services-icon.png' %}" alt="">Obtenir un rendez-vous<h4>
                                </div>
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.tags == "error" %}
                                            <div class="alert alert-danger" role="alert">
                                        {% else %}
                                            <div class="alert alert-{{message.tags}}" role="alert">
                                        {% endif %}
                                            {{ message }} 
                                            </div>
                                    {% endfor %}
                                {% endif %}

                            <form method="POST">
                                {% csrf_token %}
                                {% render_field form.name placeholder="Nom" %}
                                {% if form.name.errors  %}
                                    <div><p class="error-form">Ce champ est obligatoire.</p></div> 
                                {% endif %}

                                {% render_field form.email placeholder="Email" %}
                                {% if form.email.errors  %}
                                    <div><p>{{form.email.errors}}</p></div> 
                                {% endif %}

                                {% render_field form.message placeholder="Décrivez brièvement le rendez-vous" class="form-control" style="margin-bottom: 20px;" rows=4 %}
                                {% if form.message.errors  %}
                                    <div><p>{{form.message.errors}}</p></div> 
                                {% endif %}
                                
                                {% render_field form.phone_number placeholder="Numéro de téléphone" %}
                                {% if form.phone_number.errors  %}
                                    <div><p>{{form.phone_number.errors}}</p></div> 
                                {% endif %}
                                
                                {% render_field form.date_appointmen placeholder="Date exemple: 31/12/2021 " %}
                                {% if form.date_appointmen.errors  %}
                                    <div><p>{{form.date_appointmen.errors}}</p></div> 
                                {% endif %}
                                
                                <select name="service">
                                    {% for service in services %}
                                        <option value="{{ service.pk }}">{{ service.name }} {{center.slug}}</option>
                                    {% endfor %}
                                </select>
                                <button 
                                    class="site-btn"
                                    hx-post="{% url 'user_health_center_detail' center.slug %}"
                                    hx-swap="none"
                                    hx-trigger="click">
                                    Prendre rendez-vous
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock "content" %}