{% extends 'user/base/base.html' %}
{% load static %}

{% block "content" %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="{% static 'front/img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Liste services</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'front_index' %}">Accueil</a>
                        <span>List services</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<section class="contact spad" style="padding-top: 50px !important;">
    <div class="container">
        <div class="text-end" {% if not services %} style="display: flex; justify-content: space-between;" {% endif %}>
            {% if not services %}
                <h2>Vous n'avez aucun services</h2>
            {% endif %}
            <a href="{% url 'user_add_service' %}" style="margin-bottom: 20px;" class="btn btn-success">
                Ajouter un service
            </a>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">
                {% else %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                {% endif %}
                    {{ message }} 
                    </div>
            {% endfor %}
        {% endif %}

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for service in services %}
                <div class="col-sm-6">
                    <div class="card" style="height: 100%;">
                        <img src="{{ service.photo.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" hx-post="{% url 'user_delete_service' service.pk %}">
                                {{ service.name }}
                            </h5>
                            <p class="card-text">{{ service.description|truncatechars_html:"190" }}</p>
                            <form method="post" style="display: inline;">
                                {% csrf_token %}
                                <a 
                                    type="Submit"
                                    class="btn btn-danger"
                                    hx-post="{% url 'user_delete_service' service.pk %}"
                                    hx-swap="outerHTML"
                                    hx-target="closest .col-sm-6"
                                    hx-trigger="click"
                                    hx-confirm="Êtes-vous sûr ?">
                                    Supprimer
                                </a>
                            </form>
                            <a href="{% url 'user_edit_service' service.pk %}" class="btn btn-primary">Modifier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
</section>

{% endblock "content" %}





















